<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<link rel="stylesheet" href="/static/view_style.css">
<style>
  form{
    display: flex;
    align-items: center;
    justify-content:end;
    flex-direction: row;
    margin: 5px;
  }

input{
  margin-right: 1%;
  padding: 5px;
  border-radius: 5px;
  border-color: #23aaf2b7;
}
form button{
  border: none;

}
</style>
<body>

  <div class="search-container">
    <form action="/search/" method="get">
        <input type="text" name="keywords" placeholder="By skills">
        <button type="submit"><img src="/static/search.png" alt="Search" width="30px" height="30px"></button>
    </form>
</div>
<section>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th style="width: 20px;">Action</th> <!-- New column for action buttons -->

            </tr>
        </thead>
        <tbody>
            <tr class="row" id="{{d.id}}">
                <td><a href="/{{d.id}}">{{d.name}} <img src="{% static 'link-icon.png' %}" alt="" width="15px"> </a></td>
                <td><a href="/{{d.id}}">{{d.email}}</a></td>
                <td><a href="/{{d.id}}">{{d.phone}}</a></td>
                <td>
                    <div class="button-action">
                        <a href="/{{d.id}}"><img src="{% static 'modify_icon.png' %}" alt="{% static 'modify_icon.png'}" style="width: 25px;"></a>
                        <img src="{% static 'delete_icon.png' %}" alt="{% static 'delete_icon.png' %}" onclick="deleteRow(this)" style="width: 25px;">
    
                    </div>
                    
                </td> 
            </tr>
            
        </tbody>
    </table>
</section>

</body>
<script>
    // Function to delete the row when the delete button is clicked
    function deleteRow(button) {
        var row = button.parentNode.parentNode.parentNode; // Get the parent row of the button
        row.parentNode.removeChild(row); // Remove the row from the table
        let id = document.querySelector(".row").getAttribute("id");
        console.log(id);
        fetch("/"+id+"/delete", {
            method:'GET'
        });
    }
</script>

</html>